body {
    padding:0;
    margin:0;
}

/* Global */
.container {
    width: 80%;
    margin:auto;
    overflow:hidden;
}

/* Font faces */

@font-face {
  font-family: 'poppins-bold';
  src:url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'poppins-light';
  src:url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: 'poppins-semibold';
    src:url("../fonts/Poppins/Poppins-SemiBold.ttf")
}

@font-face {
    font-family: 'poppins-regular';
    src:url("../fonts/Poppins/Poppins-Regular.ttf")
}


/* Header */
header {
    font-family: poppins-light;
    background: #1f1f24;
    color: white;
    padding: 16px 0 16px 0;
    min-height: 70px;
}

header a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}

header ul {
    margin:0;
    padding:0;
}

header li {
    float: left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #navbar {
    float:left;
}
header #navbar h1{
    margin:0
}

header nav {
    float:right;
    margin-top:10px;
}

header a:hover {
    text-decoration: none;
    color:#e8491d;
}

header .highlight, header .current a{
    font-family: 'poppins-bold';
    color:#ff7061;
    font-weight:bold;
}



/* Showcase Section */

.btn-primary.orange-btn {
    background-color: #FF6F61;
    border-color: #FF6F61;
    border-radius: 0;
    font-weight: bold;
}

.btn-primary.orange-btn:hover {
    background:#eb6457;
    border-color: #eb6457;
}

#showcase{
    font-family: 'poppins-light';
    min-height: 300px;
    text-align: center;
    font-size:17px;
}

#showcase h1 {
    font-family: 'poppins-semibold';
    margin-top:50px;
    font-size:40px;
    margin-bottom:20px;
}

button {
    width:250px;
    height:55px;
}

#showcase button {
    margin-top:15px;
}

/* Example Section */

#Examples {

    background-color: #f0f0f0;
    text-align: center;
    min-height: 600px;
}

#Examples h1 {
    font-family: 'poppins-regular';
    margin-top: 50px;
    font-size:35px;
}

#Examples .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#Examples h3, p {
    color:#555555;
}

#Examples button{
    margin-top:50px;
}
#Examples img {
    margin-bottom:20px;
    margin-top:50px;
    width: 100px !important;
    height: 100px !important;
}

#Examples img {
    display:inline-block;
    border-radius: 60px;
    box-shadow:0px 0px 8px #888;
    background-color: #2F3061;
    padding: 1.2em;
}

#Examples p {
    margin-top:20px;
}


/* Randomizer Section */


#input-group .btn-primary.orange-btn {
    width: 180px;
    font-family: 'poppins-light';
    border-radius: 3px;

}
#input-group {
    min-height:200px;
    background-color: #f0f0f0;
}

#input-group .input-group {
    padding-top:50px;
}

#input-group #div_mix_title {
    padding:0;
    margin:0;
}

#input-group button {
    margin-top:32px;
    width:180px;

}

#input-group input,button {
    height:45px;
}

#input-group input{
    width:360px;

}

#input-group input, label {
    display:block;
}

#input-group label  {
    width:180px;
}

#randomizer_button_2, #randomizer_button_3 {
    margin-top:4px;
}

.slidecontainer{
    margin-top:5%;
}

.slidecontainer p {
    float:left;
    padding: 10px 40px 0 0;
}

.slidecontainer #ageOutputId {
    justify-content: right;
    float:right;

}


/* Table Section */

#table h3 {
    margin: 30px 0 30px 0;
    font-family: poppins-light;
}

#table ol {
   list-style-position: inside;

}

#table #team1card {
    margin-bottom:50px;
}

#table #team1_list, #team2_list {
    list-style: none;
}






